<h2>Wish text first item</h2>

<div class="container">
    <div>{{ Items[0].wishText }}</div>
</div>

<br>
<br>
<h2>Wish items...</h2>

<div *ngFor = "let item of Items ">
  {{item.wishText}}
</div>



<br><br>

<h2>Wish items list ...</h2>
<div class="container">
  <ul class ="wish-list">
    <li *ngFor="let item of Items">
      <div class ="form-check">
          <label class="form-check-label"> 
                      <p> <input class="checkbox" type ="checkbox"  /> {{item.wishText}} </p>
          </label>
      </div>
    </li> 
  </ul>
</div>
 